<mat-spinner *ngIf="!(products$ | async)?.length"></mat-spinner>

<!-- [routerLink]="[product.id]" -->
<div *ngFor="let product of products$ | async" (click)="openProduct(product.id)">
  <app-product
    fxLayout="row"
    fxLayoutAlign="space-around center"
    [product]="product"
    (addToCart)="addToCart(product)"
    (deleteProductEvent)="deleteProduct($event)">
  </app-product>
</div>
<mat-paginator [length]="100"
              [pageSize]="params.pageSize"
              (page)="changePage($event)"
              [pageSizeOptions]="[2, 5, 10, 25, 100]">
</mat-paginator>

<span (click)="addProduct()">add product</span>
